@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway", sans-serif;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

.container {
    /* max-width: 1500px; */
    margin: 20px 150px 20px 150px;
}


.container .input {
    border: none;
    border-bottom: 1px solid rgba(68, 68, 68, 20%);
    width: 100%;
    outline: none;
    padding: 0 0 15px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; 
}

.container .button-wrapper {
    display: flex;
    gap: 2px;
    align-items: center;
    max-width: 240px;
    width: 100%;
    cursor: pointer;
}

.container .button-wrapper .button {
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: 600;
    line-height: 16px;
    border: none;
    background:rgba(0, 0, 0, 1);
    padding: 17px 74px;
    cursor: pointer;
    width: 100%;
    text-align: center;
}

.container .button-wrapper .vertical-line {
    width: 2px;
    height: 100%;
    background: rgba(0, 0, 0, 1);
}

.container .price {
    display: flex;
    gap: 15px;
}

.container .price .current-price {
    font-family: Josefin Sans, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px; 
}

.container .price .old-price {
    font-size: 16px;
    font-weight: 300;
    line-height: 16px; 
    font-family: Josefin Sans, sans-serif;
    text-decoration: line-through;
    color: rgba(68, 68, 68, 1);
}

.container .custom-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.container .custom-list .item {
    color: rgba(68, 68, 68, 1);
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
}

.container .custom-list .item::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-image: url("../icons/square.svg");
}

.container .custom-list .item.active {
    color: rgba(255, 142, 142, 1);
}

.container .custom-list .item.active::before{
    content: "";
    display: block;
    width: 25px;
    height: 3px;
    background-image: url("../icons/small-row.svg");
}  

.container .find-us .find-us-text {
    margin: 0 0 20px 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 27px;
}

.container .find-us .find-us-links {
    display: flex;
    gap: 15px;
    align-items: center;
}

.container .find-us .find-us-links .find-us-link a {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 14px;
    color: rgba(68, 68, 68, 1);
}

.container .find-us .find-us-links .line {
    border-bottom: 1px solid #444444;
    height: 1px;
    width: 10px; 
}

.top-banner {
    width: 100%;
    margin: 23px auto 39px 0;
}

.top-banner .left-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.top-banner .left-content .big-dots {
    position: absolute;
    top: 35px;
    left: 60px;
}

.top-banner .left-content .top-line {
    position: absolute;
    top: 277px;
}

.top-banner .left-content .left-header {
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 111px 278px 131px 390px;
    width: 850px;
    max-height: 400px;
    height: 100%;
    margin-right: 30px;
}

.top-banner .left-content .left-header .main-header {
    color: rgba(0, 0, 0, 1);
    font-size: 80px;
    font-weight: 400;
    line-height: 80px;

}

.main-header {
    font-family: "Raleway", sans-serif;
}

.top-banner .left-content .left-header .bar {
    border-left: 1.5px solid rgba(0, 0, 0, 1);
    display: flex;
    color: rgba(0, 0, 0, 1);
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    padding: 0 0 0 12px;
    gap: 12px;
    cursor: pointer;
}

.top-banner .left-content .left-header .bar .home {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.top-banner .left-content .left-header .bar .home:hover,
.top-banner .left-content .left-header .bar .home.active {
    color: rgba(255, 142, 142, 1);
}

.top-banner {
    position: relative; 
}
  
.gray-square {
    position: absolute;
    right: 0;
    top: 0;
    width: 700px;
    height: 100%;
    background: #f3f3f3;
    z-index: 0;
    margin: 0 200px;
}
  

.content-block {
    margin-bottom: 40px;
}
  